<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCOdHJye_bPmZGtYKN1qCpsMeuen04r2Hs</string>
	<key>GCM_SENDER_ID</key>
	<string>685169256033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.eve</string>
	<key>PROJECT_ID</key>
	<string>eve-cal-96b02</string>
	<key>STORAGE_BUCKET</key>
	<string>eve-cal-96b02.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685169256033:ios:32b4c42124d2c9e7d3ac20</string>
</dict>
</plist>